{{ define "purgatory" -}}
{{template "header" . }}
<div class="row">
    <div class="col">
        <h1>Purgatory</h1>
    </div>
    <div class="col">
        Welcome to Purtagory. If you're here, you're not yet approved to use TyrBot.
    </div>
</div>
{{template "footer" . }}
{{- end }}
