{{ define "single_page" -}}
{{- template "header" . -}}
<div role="main" class="container">
    <div class="row">
        <div class="col">
            <h1>{{.Header}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            {{range .Paragraphs}}<p>{{.}}</p>{{end}}
        </div>
    </div>
</div><!-- /.container -->
{{- template "footer" . -}}
{{- end }}
