{{ define "single_page" -}}
{{template "header" . }}
<div class="row">
    <div class="col">
        <h1>{{.Header}}</h1>
    </div>
</div>
<div class="row">
    <div class="col">
        {{range .Paragraphs}}<p>{{.}}</p>{{end}}
    </div>
</div>
{{template "footer" . }}
{{- end }}
